*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17,7,35);
    color: #fff;
}

.momondo{
    align-items: center;
    display: flex;
    font-family: 'Gill Sans';
    font-weight: bold;
    font-size: 20px;
}

.mo{color: rgb(61,163,221);}
.mon{color: rgb(221,61,181);}
.do{color: rgb(218,120,56);}

nav ul, .list1{
    list-style: none;
    display:flex;
    gap: 20px;
    color: #fff; 
}

nav ul a, .list1 a{
    color: #fff;
}

nav ul a:hover, .list1 a:hover{
    color: rgb(201, 62, 1591);
}

.list1 img{
    height: 13px; 
    width: 13px; 
    display: inline-block;
}

.find{
    position: relative;
    text-align: center;
    color: #000; 
}

.thought1{
    position: absolute;
    top: 90px;
    left: 146px;
    font-size: 50px;
    font-family: Calibri;
    font-weight:lighter;
}

.thought2{
    position: absolute;
    top: 210px;
    left: 146px;
    font-size: 19px;
    font-family: Calibri;
    font-weight:bold;
}

.search{
    box-sizing: border-box;
    position: absolute;
    bottom: 15px;
    left:106px;
    padding: 7px; 
    background-color: #281457;
}

.search_mode{
    display: flex;
    gap:20px;
}

.travel{
    color: #fff;
    padding:10px;
    align-items: center;
    text-align: center;
}

.travel:hover{
    padding: 5px;
    background-color: #c72525;
}

.search_item{
    border-radius: 50%;
    background-color: #ff0000;
    border: #ff0000;
    height: 75px;
    width: 75px;
}

.search input{
    padding:10px;
    margin-left: 10px;
}

i{
    color: #fff;
}

.activity{
    padding: 40px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.fun_h2 {
    color: #fff;
    margin-bottom: 30px;
}

.fun{
    gap: 20px;
    display: flex;
    margin:  auto;
    width: fit-content;
}


.item{
    color: #fff;
    padding: 20px;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    align-items: center;
    background-color: #000;
}

.section3{
    position: relative;
}

.subscribe{
    position: absolute;
    text-align: center;
    color: #fff;
    top:50px; 
    right:50px;
}

.news{
    width:100%;
    height: 300px;
    position: relative; 
    display: flex;
}

.subscribe input{
    text-align: left;
    border: 2px solid #fff;
    width:300px;
    margin-right: 30px;
    background: none;
}

.subscribe button{
    color: #000;  
    text-align: center; 
    border: 2px #fff;
    width:70px;
    height: 30px;
    cursor:pointer;
}

.section4{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 30px;
    background-color: #20162F;
}

.section4 ul{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 30px;
    padding: 30px;
}
.section4 ul li{
    list-style: none;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    border: 5px solid #fff;
}
.section4 ul li img{
    width: 100%;
}
.content{
    color:#000;
    padding: 20px;
}
.content span{
    color: #DD6D58;
}

.popular{
    color: #fff;
    padding: 20px;
    text-align: center;
}

.section5{
    text-align: left;
    color: #fff;
    position: relative;
}

.estimate1{
    position: absolute;
    top:50px;
    margin-left: 30px;
}

.estimate{
    position: absolute;
    display:flex;
    margin-top: 20px;
    gap:10px;
}

.estimate input{
    padding: 8px;
}

.estimate button{
    padding: 8px;
    width:140px;
    font-size: 13px;
    background-color: #af6510;
    color:#fff;
    border:none;
    cursor: pointer;
}

.section6{
    padding:10px 10px;
    text-align: center;
}

.blog{
    display:flex;
}

.blog_content{
    background-color: rgb(238, 238, 238);
    padding:15px;
    margin-top: 20px;
}

.blog img{
    padding:15px;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.section7{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 50px;
    display:flex;
    justify-content: center;
    gap:200px;
}

.part1 ul li, .part2 ul li, .part3 ul li{
    list-style: none;
}